[run]
branch = True
source = kontrol

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    examples/*
    archive/*
    dev/*
    kontrol/logger.py
    kontrol/fakeezca.py
    kontrol/visutils.py
    setup.py
